<div class="container mt-5">
    <h1>Employees List</h1>


    <a routerLink="/" class="btn btn-primary">Add</a>
    <table class="table">
        <thead>
            <tr>
                <th>Fullname</th>
                <th>Email</th>
                <th>DepID</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of employees" >
                <td>{{ e.fullname }}</td>
                <td>{{ e.email }}</td>
                <td>DEP N° : {{ e.department }}</td> 
            </tr>
        </tbody>
    </table>
</div>