<app-navbar></app-navbar>


<h3>About us</h3>


<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, provident sit tenetur atque eveniet assumenda maxime enim mollitia aliquid minima et esse accusantium quod! Corrupti odio obcaecati possimus in incidunt.
</p>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, provident sit tenetur atque eveniet assumenda maxime enim mollitia aliquid minima et esse accusantium quod! Corrupti odio obcaecati possimus in incidunt.
</p>



<a routerLink="/about/team">Our team</a>

<a routerLink="/about/services">Our services</a>


<router-outlet></router-outlet>