<div class="container mt-5">
    <h3>Products list</h3>


    <a routerLink="/add" class="btn btn-outline-primary">Ajouter un produit</a>


    <table  class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Actions</th>
                
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let p of products">
                <td>{{ p.id }}</td>
                <td>{{ p.product }}</td>
                <td>{{ p.price | currency }}</td>
                <td>{{ p.quantity | number }}</td>
                <td>
                    <a class="btn btn-sm btn-secondary me-3" [routerLink]=" '/update/'+p.id " >update</a>
                    <button class="btn btn-sm btn-danger"  (click)="deleteProduct(p.id)"  >delete</button>
                    
                </td>
                
            </tr>
        </tbody>
    </table>
</div>