<!-- <ul>
  <li *ngFor="let n of notes"  class=""     [ngClass]=" ( n % 2 ) == 0 ?  'pair'  :  'impair'"   > {{ n }} </li>
</ul>


<div   [innerHTML]="content" 
 [style.color]="   color   "    >
 

</div> -->


<!-- <button   (click)="buttonClick()"  >   
  count {{ count }}  
</button>-->

<!--
<img [src]="images[index]" width="50%" alt="">  <br>


<button (click)="prev()" >prev</button>
<button (click)="next()"  >next</button>-->





<div class="feild" (mousemove)="mouseIsMoving($event)"   >
  <div class="ball">

  </div>
</div>